body{
   /* background: linear-gradient(30deg,rgb(61,61,61),rgb(77,77,77)); */
   background: linear-gradient(30deg,rgb(61,61,61),rgb(58, 57, 57));
   color: rgb(68,68,68);
}

#page-logo a{
    color:rgb(21, 200, 216);
}
header nav a{
    color:rgb(21, 200, 216);
}

header nav a:hover{
   background-color:rgb(21, 200, 216);
    color: rgb(59,59,59);
}

header{
    position: static;
}
  
main ul{
    width: 1250px;
    margin: 0 auto 48px auto;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: 1fr 1fr;
}
li:nth-of-type(3){
    grid-column: 1 / span 2 ;
}

main li {
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0,0 ,0 , 0.5);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}
main li:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.615);
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.729);
    box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.815);
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.907);
    box-shadow: 11px 13px 10px rgba(0, 0, 0, 0.948);
}

main li img{
    width: 300px;
    height: 280px;
    object-fit: cover;
}


.img-disc{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.disc h2{
    margin: 0;
}
.action{
    text-align: right;
}

.action a{
    text-decoration: none;
    padding: 6px;
    color: rgb(21, 200, 216);
    font-size: 16px;
    font-weight: bold;
}

.action a:hover{
    background-color: rgb(204, 250, 255);
    border-radius: 4px;
}
 